$background-light: #FFFFFF;
$background-grey: #F6F6F6;
$background-black: #000000;
$text-color: #000000;
$text-color-1: #090909;
$text-color-2: #070707;
$text-ligth-grey: #828282;
$text-light: #FFFFFF;