$primary: #252525;
$secondary: #4CAF50;
$secondary-light: #70BF73;

$white: #FFFFFF;
$white-op-5: rgba(255, 255, 255, 0.5);
$white-op-92: rgba(255, 255, 255, 0.92);

$sections-bg: #FBFBFB;
$sections-bg-2: #70BD59;
$services-card-desc: #777777;

$latest-works-card-desc: #C2C2C2;

$team-card-bg: #D8D8D8;

$slider-author-text: #B8B8B8;

$footer-info-bg: #2E2E2E;
$footer-copyright-bg: #252525;

$dark-grey-3: #5B5858;
$dark-grey-2: #504E4E;
$dark-grey-4: #353535;
$dark-grey: #333333;
$light-black: #252525;
$black: #000000;