@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

@import "reset.scss";
@import "fonts.scss";
@import "colors.scss";
@import "styleText.scss";

@import "sections/header.scss";
@import "sections/hero.scss";
@import "sections/we-are.scss";
@import "sections/services.scss";
@import "sections/latest-works.scss";
@import "sections/team.scss";
@import "sections/reviews.scss";
@import "sections/contact.scss";
@import "sections/footer.scss";

html {
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Oswald', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: $primary;
}

body {
    position: relative;
    background-color: $white;
}

body.lock {
    overflow: hidden;
}

.main {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 50px;

    @media (min-width: 1024px) {
        row-gap: 120px;
    }
}

.container {
    box-sizing: border-box;
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 20px;
}