.hero {
    grid-column: 1/-1;
    grid-row: 1;
    position: relative;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }
    &__bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;

        background-color: $black;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
        }
    }
    &__title {
        margin-bottom: 30px;
    }
    &__subtitle {
        font-size: 1.6rem;
        text-align: center;
        letter-spacing: 1.28px;
        color: $white;
        opacity: .8;

        @media (min-width: 768px) {
            font-size: 1.8rem;
        }

        @media (min-width: 1024px) {
            font-size: 2rem;
        }
    }
}